<!DOCTYPE html>
<html lang="ko">
<head>
</head>
<body>
<div class="registration-container" id="registrationContainer" th:fragment="registrationForm">
    <div class="registration-form">
        <h3>顧客社登録</h3>
        <form id="registrationForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="company_name">顧客社名</label>
                <input type="text" id="company_name" name="company_name" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="CEO_name">代表者名</label>
                <input type="text" id="CEO_name" name="CEO_name" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="phone_number_part1">電話番号 <span class="validation-message" id="phoneNumberMessage"></span></label>
                <div class="form-inline flex-container">
                    <input type="text" id="phone_number_part1" name="phone_number_part1" maxlength="3" required class="form-control" pattern="\d*" title="数字のみ入力可能です。" />
                    <input type="text" id="phone_number_part2" name="phone_number_part2" maxlength="4" required class="form-control" pattern="\d*" title="数字のみ入力可能です。" />
                    <input type="text" id="phone_number_part3" name="phone_number_part3" maxlength="4" required class="form-control" pattern="\d*" title="数字のみ入力可能です。" />
                </div>
                <input type="hidden" id="phone_number" name="phone_number" />
            </div>
            <div class="form-group">
                <label for="post_number1">郵便番号</label>
                <div class="form-inline flex-container">
                    <input type="text" id="post_number1" name="post_number1" required class="form-control flex-input" />
                    <input type="text" id="post_number2" name="post_number2" required class="form-control flex-input" />
                    <div class="flex-button-container">
                        <button type="button" id="searchAddressButton" class="btn btn-primary">住所検索</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">住所</label>
                <input type="text" id="address" name="address" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="detail_address">詳細住所</label>
                <input type="text" id="detail_address" name="detail_address" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="homepage">ホームページ</label>
                <input type="text" id="homepage" name="homepage" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="business_type">業種</label>
                <input type="text" id="business_type" name="business_type" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="contract_type">契約方式</label>
                <input type="text" id="contract_type" name="contract_type" required class="form-control" />
            </div>
            <input type="hidden" id="register_member_id" name="register_member_id" th:value="${#authentication.name}" />
            <div class="btn-container">
                <button type="submit" class="btn btn-success mt-3" id="submitButton">登録</button>
                <button type="button" class="btn btn-secondary mt-3" id="cancelButton">とじる</button>
            </div>
        </form>
    </div>
</div>

<!-- 등록 성공 모달 -->
<div class="modal fade" id="registrationSuccessModal" tabindex="-1" aria-labelledby="registrationSuccessModalLabel" aria-hidden="true" th:fragment="registrationSuccessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationSuccessModalLabel">登録成功</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                登録成功
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 등록 실패 모달 -->
<div class="modal fade" id="registrationFailModal" tabindex="-1" aria-labelledby="registrationFailModalLabel" aria-hidden="true" th:fragment="registrationFailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationFailModalLabel">登録失敗</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                登録失敗
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>