<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.interline.crm.dao.UserListDAO">

    <select id="managerDetails" resultType="String">
        select user_id from UserList where user_id = "manager"
    </select>

    <insert id="insertManager" parameterType="jp.co.interline.crm.domain.UserList">
        insert into UserList
            (user_id, user_name, password, authority, registration_date, register_member_id)
        values
            (#{user_id}, #{user_name}, #{password}, #{authority}, #{registration_date}, #{register_member_id})
    </insert>

    <insert id="joinUser" parameterType="jp.co.interline.crm.domain.UserList">
        insert into UserList
        (user_id,
         user_name,
         password,
         phone_number,
         email,
         joining_date,
         date_of_birth,
         department,
         authority,
         register_member_id,
         registration_date,
         profile_image_path)
        values
            (#{user_id},
             #{user_name},
             #{password},
             #{phone_number},
             #{email},
             #{joining_date},
             #{date_of_birth},
             #{department},
             #{authority},
             #{register_member_id},
             #{registration_date},
             #{profile_image_path})
    </insert>

    <select id="findUserID" resultType="String" parameterType="String">
        select user_id from UserList where user_id = #{user_id}
    </select>

    <update id="updateUser" parameterType="jp.co.interline.crm.domain.UserList">
        update UserList set
            user_name = #{user_name},
            phone_number = #{phone_number},
            email = #{email},
            joining_date = #{joining_date},
            date_of_birth = #{date_of_birth},
            department = #{department},
            authority = #{authority},
            update_member_id = #{update_member_id},
            update_date = #{update_date},
            profile_image_path = #{profile_image_path}
        where
            user_id = #{user_id}
    </update>

    <select id="checkUser" resultType="String" parameterType="String">
        select password from UserList where user_id = #{user_id}
    </select>

    <select id="userList" parameterType="hashmap" resultType="jp.co.interline.crm.domain.UserList">
        SELECT *
        FROM UserList
        WHERE authority IN (1,2) AND enabled = 1
        <if test="categorySelect != null and categorySelect != ''">
            <choose>
                <when test="categorySelect == 'user_id'">
                    AND user_id LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%')
                </when>
                <when test="categorySelect == 'user_name'">
                    AND user_name LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%')
                </when>
            </choose>
        </if>
        <if test="categorySelect == null or categorySelect == ''">
            <if test="searchText != null and searchText != ''">
                AND (user_id LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%') OR user_name LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%'))
            </if>
        </if>
        ORDER BY
        <choose>
            <when test="order == 'user_id'">
                user_id <if test="orderDirection != null and orderDirection == 'DESC'">DESC</if><if test="orderDirection == null or orderDirection == 'ASC'">ASC</if>
            </when>
            <when test="order == 'user_name'">
                user_name <if test="orderDirection != null and orderDirection == 'DESC'">DESC</if><if test="orderDirection == null or orderDirection == 'ASC'">ASC</if>
            </when>
            <when test="order == 'phone_number'">
                phone_number <if test="orderDirection != null and orderDirection == 'DESC'">DESC</if><if test="orderDirection == null or orderDirection == 'ASC'">ASC</if>
            </when>
            <when test="order == 'department'">
                department <if test="orderDirection != null and orderDirection == 'DESC'">DESC</if><if test="orderDirection == null or orderDirection == 'ASC'">ASC</if>
            </when>
            <when test="order == 'authority'">
                authority <if test="orderDirection != null and orderDirection == 'DESC'">DESC</if><if test="orderDirection == null or orderDirection == 'ASC'">ASC</if>
            </when>
            <otherwise>user_id ASC</otherwise>
        </choose>
    </select>

    <select id="getTotal" parameterType="hashmap" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM UserList
        WHERE authority IN (1,2) AND enabled = 1
        <if test="categorySelect != null and categorySelect != ''">
            <choose>
                <when test="categorySelect == 'user_id'">
                    AND user_id LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%')
                </when>
                <when test="categorySelect == 'user_name'">
                    AND user_name LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%')
                </when>
            </choose>
        </if>
        <if test="categorySelect == null or categorySelect == ''">
            <if test="searchText != null and searchText != ''">
                AND (user_id LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%') OR user_name LIKE CONCAT('%', COALESCE(#{searchText}, ''), '%'))
            </if>
        </if>
    </select>

    <select id="userDetails" resultType="jp.co.interline.crm.domain.UserList">
        select * from UserList where authority IN (1,2) and user_id = #{user_id} and enabled = 1
    </select>

    <delete id="userDelete">
        delete from UserList where user_id = #{user_id}
    </delete>
</mapper>