/* 기본 스타일 초기화 */
* {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 200px; /* 사이드바의 너비를 설정합니다 */
    flex-shrink: 0; /* 사이드바가 축소되지 않도록 합니다 */
    height: 100vh; /* 전체 화면 높이 */
    overflow: auto; /* 사이드바에 스크롤바 추가 */
}

.header {
    width: calc(100% - 200px); /* 사이드바 너비를 제외한 전체 너비 */
    height: 70px; /* 헤더의 높이를 설정합니다 */
    position: fixed; /* 페이지 맨 위에 고정합니다 */
    top: 0;
    left: 200px; /* 사이드바 너비와 맞춥니다 */
    z-index: 10; /* 다른 요소들 위에 배치합니다 */
}

.content {
    flex-grow: 1; /* 가능한 모든 공간을 차지 */
    margin-top: 70px; /* 헤더 높이만큼 위에서 떨어뜨립니다 */
    overflow: hidden; /* 불필요한 스크롤바 방지 */
}

.content-wrapper {
    height: calc(100vh - 70px); /* 헤더 높이를 제외한 전체 높이 */
    overflow: auto; /* 필요 시 스크롤바 나타남 */
    transition: padding-right 0.3s ease-in-out; /* 애니메이션 */
}

.search-and-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* 테이블과의 간격 조정 */
}

.search-and-register > *,
#searchForm,
#registerButton {
    margin-bottom: 0 !important; /* 테이블과의 간격 최소화 강제 */
}

table {
    width: 100%;
    table-layout: fixed; /* 모든 셀이 동일한 너비를 가짐 */
    margin-bottom: 20px; /* 검색폼 및 버튼과의 간격 조정 */
}

thead th {
    padding: 30px 10px; /* 패딩 추가 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

tbody td {
    padding: 30px 10px; /* 패딩 추가 */
    text-align: center; /* 텍스트 가운데 정렬 */
    vertical-align: middle; /* 수직 가운데 정렬 */
    height: 70px; /* 높이 설정 */
}

.registration-container {
    position: fixed; /* fixed로 변경하여 항상 화면 오른쪽에 위치 */
    top: 70px; /* 헤더 영역 확보 */
    right: 0;
    height: calc(100vh - 70px); /* 헤더 높이를 뺀 값 */
    width: 0;
    background-color: #f0f4f8;
    box-shadow: -4px 0 6px -1px rgba(0, 0, 0, 0.1), -10px 0 10px -5px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    z-index: 5;
}

.registration-container.visible {
    width: 450px; /* 폼 보이기 */
}

.registration-form {
    padding: 20px;
    width: 450px;
}

.content.shrink .content-wrapper {
    padding-right: 450px; /* 등록 폼이 보일 때 콘텐츠 영역 축소 */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* 간격 조정 */
    gap: 5px; /* 버튼 간격 추가 */
}

.page-item {
    list-style: none;
}

.page-link {
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-radius: 3px;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}