<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<sidebar th:fragment="sidebar">
  <!-- 사이드바 -->
  <div id="sidebar">
    <div class="hamburger" onclick="toggleSidebar()">
      <i class="bi bi-list"></i> <!-- 햄버거 아이콘 -->
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">
          <i class="bi bi-house-door-fill"></i>
          <span class="nav-text">대시보드</span> <!-- 메뉴 텍스트 -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/list" onclick="toggleSubMenu('employeeMenu')">
          <i class="bi bi-person-badge"></i>
          <span class="nav-text">직원</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="toggleSubMenu('companyMenu')">
          <i class="bi bi-building"></i>
          <span class="nav-text">고객사</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="toggleSubMenu('customerMenu')">
          <i class="bi bi-people-fill"></i>
          <span class="nav-text">고객</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="toggleSubMenu('contactMenu')">
          <i class="bi bi-chat-dots-fill"></i>
          <span class="nav-text">콘텍트</span>
        </a>
        <ul id="contactMenu" class="nav flex-column collapse">
          <li class="nav-item">
            <a class="nav-link" href="#"> - コンタクト履歴</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</sidebar>
</body>
</html>